*~
.DS_Store
.bashrc
.dir-locals.el
.env
.idea
.ipynb
.pre-commit-config.yaml
.requirements.txt
__pycache__
axis-ptz/*.jpg
axis-ptz/capture/*
labelbox-import/labelbox.env
ml-model/model-export/*
ml-model/.ipynb_checkpoints
ml-model/notebooks/.ipynb_checkpoints
*-checkpoint.ipynb
ml-model/*.json
*.env
ml-model/notebooks/.Trash-0/*
ml-model/notebooks/*.json
notes.md
semgrep.out
localizer.pt
