*~
.DS_Store
.bashrc
.dir-locals.el
.idea
.ipynb
.pre-commit-config.yaml
.requirements.txt
__pycache__
auto-calibrator/mqtt
auto-calibrator/base_mqtt_pub_sub.py
auto-calibrator/ptz_utilities.py
axis-ptz/*.jpg
axis-ptz/capture/*
labelbox-import/labelbox.env
ml-model/model-export/*
ml-model/.ipynb_checkpoints
ml-model/notebooks/.ipynb_checkpoints
*-checkpoint.ipynb
ml-model/*.json
ml-model/notebooks/.Trash-0/*
ml-model/notebooks/*.json
notes.md
ptz-controller/mqtt
ptz-controller/base_mqtt_pub_sub.py
ptz-controller/camera-pointing.csv
semgrep.out
localizer.pt
vapix.log
