# Local timezone in "TZ database name" format. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ="New York"

# Latitude of the camera
LAT=38.890022390623265
# Longitude of the camera
LONG=-77.03513244930217
# Altitude of the camera, this should be in METERS above sea level
ALT=170

# Roll Angle of Camera Mount from Inertial
ROLL=0
# Pitch Angle of Camera Mount from Inertial
PITCH=0
# Yaw Angle of Camera Mount from Inertial
YAW=0

# The minimum elevation for the camera.
MIN_ELEVATION=0

# Your FlightAware feeder ID (required)
FEEDER_ID=long-api-key-goes-here

# ## AXIS CAMERA SETTINGS
# The username for the Axis camera
AXIS_USERNAME=user
# The Password for the Axis camera
AXIS_PASSWORD=PLACEHOLDER_FOR_PASSWORD
# The IP address of the camera
AXIS_IP=192.168.1.1
# The speed at which the Axis will move for Pan/Tilt (0-100)
CAMERA_MOVE_SPEED=99
# How many seconds after issuing a Pan/Tilt command should a picture be taken
CAMERA_DELAY=0.5
# The zoom setting for the camera (0-9999)
CAMERA_ZOOM=9999
# How many seconds ahead of a plane's predicted location should the camera be positioned
CAMERA_LEAD=0.25

# The device ID for the RTL-SDR - set using the rtl_eeprom program
RTL_DEV=1

# The docker image versions to use
RELEASE_NAME=v2.1
