TZ="New York"
LAT=38.890022390623265 
LONG=-77.03513244930217
ALT=170
MIN_ELEVATION=45
FEEDER_ID=long-api-key-goes-here
AXIS_USERNAME=user
AXIS_PASSWORD=pass
AXIS_IP=192.168.1.1
CAMERA_MOVE_SPEED=50
CAMERA_DELAY=0.5
CAMERA_ZOOM=9999
CAMERA_LEAD=0.25
RTL_DEV=1